<div class="nav-panel-explore" data-panel="explore">

  {{ if .Site.IsMultiLingual }}
  {{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
  <div class="context">
    <span class="title">
    <a class="navbar-link" href="{{ .Permalink }}">{{ $langPage.Language.LanguageName }}</a>
    </span>
    <span class="version"></span>
  </div>
  <ul class="components">

    {{ range $.Site.Home.AllTranslations }}

    <li class="component is-current">
      <a class="navbar-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    </li>
    {{ end }}
  </ul>
    {{ end }}
</div>
